/* Body */
body {
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    color: #2E475D;
}

body > div {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-30%, -40%);;
    -webkit-transform: translate(-30%, -40%);
    -moz-transform: translate(-30%, -40%);
    -ms-transform: translate(-30%, -40%);
    -o-transform: translate(-30%, -40%);
}

body > div > div {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

h1 {
    color: #803ad0;
}

h2 {
    margin-top: .3em;
}

a {
    color: blueviolet;
}
